# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*.aspell.org.conf
*.cp
*.db
*.elc
*.swp
*.eproject
*.exe
*.fn
*.git/
*.gitattributes
*.kdev*
*.ky
*.m3u
*.mp3 
*.nosearch
*.ogg 
*.pdf
*.pg
*.pidb
*.pro.user
*.svn/
*.tar.gz
*.tp
*.userprefs
*.vr
*bin/
*build/
*cache/
*id_rsa
*id_rsa_github
*known_hosts
*last_directory
*pid
*rc/
*socket2
moc/softmixer
*~
\#*
*ssh/authorized_keys
*ssh/work.config
*.netrwhist
*elisp/rc*
config/Rygel*
config/Trolltech.conf*
config/akonadi*
config/autostart*
config/chromium*
config/dconf*
config/enchant*
config/kde.org*
config/menus*
config/rygel.conf*
config/tracker*
config/user-dirs.dirs*
config/user-dirs.locale*
config/vlc*
